.vscode/*
.vscode/
.gradle/*
.gradle/
bin/
bin/*
/bin/
build/
.classpath
.settings
.solution.json
/.solution.json
/../.settings/*
/../bin/*
/../.gradle
/../.classpath
/../.project
/../build*
/../.settings/
/../bin/
/../.gradle
/../.classpath
/../.project
/../build