.ionide/
.vscode/
.classpath
.settings/
.project/
/**/.settings/
/**/.keep
/**/.gradle/
/**/build/
/**/bin/
/**/.classpath
/**/.project
# /../.project
.project
HELP.md
HINTS.md
TUTORIAL.md
cleanup.*
runTests.ps1
.fake
.ionide
debug.log
*.ps1