.classpath
.project
.vscode/*
.vscode/
.gradle/*
.gradle/
bin/
bin/*
/bin/
build/
/../.settings/*
/../bin/*
/../.gradle
/../.classpath
/../.project
/../build*
/../.settings/
/../bin/
/../.gradle
/../.classpath
/../.project
/../build